.wrapper {
	margin-top: 40px;
}

.header {
	display: grid;
	grid-template-columns: auto 1fr auto;
	justify-items: start;
	align-items: baseline;
	gap: 20px;
}

.seo h1 {
	font-size: 26px;
	font-weight: 500;
	line-height: 35px;
	margin-bottom: 25px;
}

.seo h2 {
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
	margin-bottom: 25px;
}

.seo h3 {
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	margin-bottom: 20px;
}

@media (width <= 800px) {
	.header {
		padding: 0 10px;
	}
}