.star svg {
	margin-right: 5px;
}

.fill svg {
	fill: var(--primary);
}

.ratingWrapper {
	position: relative;
	display: flex;
	gap: 10px;
	align-items: center;
	text-align: center;
}

.ratingError {
	border-left: 2px solid var(--red-000);
	padding-left: 10px;
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	color: var(--red-000);
	width: 100%;
	left: -20px;
}