.sort {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.sortBy {
	display: flex;
	align-items: center;
	gap: 8px;
}

.sortBy svg {
	display: none;
}

.isActive  svg {
	display: inline-block;
}

.isActive {
	color: var(--primary);
	font-weight: 500;
}
