.sort {
	display: grid;
	grid-template-columns: auto auto;
	gap: 20px;
}

.sortBy {
	cursor: pointer;
}

.sortBy svg {
	display: none;
}

.isActive  svg {
	display: inline-block;
}

.isActive {
	display: flex;
	align-items: center;
	color: var(--primary);
	font-weight: 500;
	gap: 8px;
}

.sort span:not(.isActive) {
	display: block;
}
