* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	font-family: var(--font-family);
	color: var(--black);
	background: var(--background);
}

a {
	color: inherit;
	text-decoration: none;
}

:root {
	--black: #3B434E;
	--white: #FFF;
	--primary: #7653FC;
	--primary-hover: #5E3EE0;
	--red-000: #DE0000;
	--red-836: #FC836D;
	--grin-037: #1DC37E;
	--grin-884: #C8F8E4;
	--grey-dark: #787D85;
	--gray-444: #A4A4A4;
	--background: #F9F8FF;
	--border-btn-gray: 1px solid #EBEBEB;
	--border-primary: 1px solid #7653FC;
	--font-family: 'Noto Sans KR', sans-serif;
}